@model SMAT_Inventory.Models.UserViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Add User</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <form id="userForm" name="add-branch-form" action="{{ route('/user/insert') }}" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label for="role-input" class="form-label">Select User Role</label>
                                <select style="font-size:18px;" id="role" name="role" class="form-control">
                                    <option disabled selected>Select Role</option>
                                    @foreach (var role in Model.rolelist)
                                    {
                                        if (role.id == Model.user.role_id)
                                        {
                                            <option selected value="@role.id">@role.name</option>
                                        }
                                        else
                                        {
                                            <option value="@role.id">@role.name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        @{
                            var AssetTransfer_AddReviewer = "";
                            var AssetTransfer_Approver="";
                            var AssetTransfer_Receiver = "";
                            if (@Model.user.AssetTransfer_AddReviewer == 1) { AssetTransfer_AddReviewer = "Checked"; }
                            if (@Model.user.AssetTransfer_Approver == 1) { AssetTransfer_Approver = "Checked"; }
                            if (@Model.user.AssetTransfer_Receiver == 1) { AssetTransfer_Receiver = "Checked"; }
                        }
                        <div class="col-md-3" style="padding-top: 30px;">
                            <div class="mb-3">
                                <label for="Active" class="form-label">Asset Add/Reviewer</label>
                                <input class="form-check-input" type="checkbox" id="AssetTransfer_AddReviewer" name="AssetTransfer_AddReviewer" @AssetTransfer_AddReviewer>
                            </div>
                        </div>
                        <div class="col-md-2" style="padding-top: 30px;">
                            <div class="mb-3">
                                <label for="Active" class="form-label">Approver</label>
                                <input class="form-check-input" type="checkbox" id="AssetTransfer_Approver" name="AssetTransfer_Approver" @AssetTransfer_Approver>
                            </div>
                        </div>
                        <div class="col-md-2" style="padding-top: 30px;">
                            <div class="mb-3">
                                <label for="Active" class="form-label">Receiver</label>
                                <input class="form-check-input" type="checkbox" id="AssetTransfer_Receiver" name="AssetTransfer_Receiver" @AssetTransfer_Receiver>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="user-input" class="form-label">Enter Full Name here</label>
                                <input type="text" class="form-control" id="name" name="name" required value="@Model.user.name">
                                <input type="text" class="form-control" id="userid" name="userid" required value="@Model.user.id" hidden>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="mb-3">
                                <label for="zone-input" class="form-label">Enter Date of Birth</label>
                                <input type="date" class="form-control" id="DOB" name="DOB" placeholder="Enter Date of Birth" required value="@Model.user.DOB.ToString("yyyy-MM-dd")">
                            </div>
                        </div>
                        @{
                            var Activechk = "";
                            if (@Model.user.Active == 1) { Activechk = "Checked"; }
                        }
                        <div class="col-md-4" style="padding-top: 30px;">
                            <div class="mb-3">
                                <label for="Active" class="form-label">Active</label>
                                <input class="form-check-input" type="checkbox" id="Active" name="Active" @Activechk>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="email-input" class="form-label">Enter Email Address Here</label>
                                <input type="email" class="form-control" id="email" name="email" required value="@Model.user.email">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="number-input" class="form-label">Enter Mobile Number Here</label>
                                <input type="number" min="0" minlength="11" class="form-control" id="phone" name="phone" value="@Model.user.phone" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="email-input" class="form-label">Enter Address</label>
                                <input type="text" class="form-control" id="address" name="address" required value="@Model.user.address">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="number-input" class="form-label">Enter CNIC Here</label>
                                <input type="text" class="form-control" id="CNIC" name="CNIC" value="@Model.user.CNIC">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                @*<label for="password-input" class="form-label">Enter Password Here</label>*@
                                <div class="input-group auth-pass-inputgroup">
                                    <input type="password" class="form-control" hidden placeholder="Enter password" name="password" aria-label="Password" id="Password" aria-describedby="password-addon" value="@Model.user.password">
                                    <button class="btn btn-light " type="button" id="password" hidden><i class="mdi mdi-eye-outline"></i></button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                @*<label for="cpassword-input" class="form-label">Enter Confirm Password Here</label>*@

                                <input type="password" class="form-control" hidden id="cpassword-input" name="password_confirmation" required value="@Model.user.password">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="branch-input" class="form-label">Select Zones</label>
                                    <select style="font-size:18px;" class="form-select select2 select2-multiple" multiple id="zone" name="zone[]">
                                        @{
                                            var ids0 = Model.user.zones;
                                            var idArray0 = ids0.Split(',');
                                            if (idArray0.Contains("0"))
                                            {
                                                <option selected value="0">ALL</option>
                                            }
                                            else
                                            {
                                                <option value="0">ALL</option>
                                            }
                                        }
                                        @foreach (var zone in Model.zones)
                                        {
                                            var ids = Model.user.zones;

                                            // Convert the string of IDs into an array
                                            var idArray = ids.Split(',');

                                            // Check if the branchId is in the array
                                            if (idArray.Contains(zone.id.ToString()))
                                            {

                                                <option selected value="@zone.id">@zone.name</option>
                                            }
                                            else
                                            {
                                                <option value="@zone.id">@zone.name</option>
                                            }
                                        }
                                    </select>

                                </div>
                            </div>
                        </div>
                        <br>
                        @*<label><code>- At least 8 characters—the more characters, with mixture of both uppercase and lowercase letters along with Inclusion of at least one special character, e.g., ! @@ # ? ].</code></label>
                        *@
                        @if (ViewData.ModelState.ContainsKey("password") && ViewData.ModelState["password"].Errors.Count > 0)
                        {
                            <div class="alert alert-danger fade show" role="alert">
                                @ViewData.ModelState["password"].Errors[0].ErrorMessage
                            </div>
                        }
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-9">
                            <label for="user_picture" class="form-label">User Picture</label>
                            <input type="file" name="user_picture" class="form-control" id="user_picture">

                            @if (ViewData.ModelState.ContainsKey("image") && ViewData.ModelState["image"].Errors.Count > 0)
                            {
                                <div class="alert alert-danger fade show" role="alert">
                                    @ViewData.ModelState["image"].Errors[0].ErrorMessage
                                </div>
                            }
                        </div>
                        @{ 
                            var userimagefile = "";
                            if (Model.user.image == "") { userimagefile = "assets/images/users/avatar-2.jpg"; } else { userimagefile = Model.user.image; }
                        }
                        <div class="col-md-3">
                            <strong><label for="horizontal-Logo-input" class="col-sm-12 col-form-label">Picture Preview</label></strong>
                            <div class="col-sm-10">
                                <img id="profile_picture" src="@Url.Content("~/"+userimagefile)" class="form-control input-sm" width="160px" height="160px">
                            </div>
                        </div>
                    </div>


                    <div>
                        <button type="button" class="btn btn-primary w-md" id="btnSave">Add User</button>
                    </div>
                </form>

                <x-error-messages-section></x-error-messages-section>


            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function (e) {
        $(document).on("change", '#user_picture', function () {
            let reader = new FileReader();
            reader.onload = (e) => {
                $('#profile_picture').attr('src', e.target.result);
            }
            reader.readAsDataURL(this.files[0]);
        });
    });
</script>
<script>
     $(document).ready(function () {

         $('#btnSave').on('click', function () {
             var role = $('#role').val();
             var name = $('#name').val();
             var email = $('#email').val();
             var phone = $('#phone').val();
             var address = $('#address').val();
             var CNIC = $('#CNIC').val();
             var password = $('#password').val();
             var id = @Model.user.id;
             var Active = document.getElementById('Active').checked ? 1 : 0;
             var AssetTransfer_AddReviewer = document.getElementById('AssetTransfer_AddReviewer').checked ? 1 : 0;
             var AssetTransfer_Approver = document.getElementById('AssetTransfer_Approver').checked ? 1 : 0;
             var AssetTransfer_Receiver = document.getElementById('AssetTransfer_Receiver').checked ? 1 : 0;

             var DOB = $('#DOB').val();
             var zones = $('#zone').val();
             var vali = JSON.stringify(zones);
             //alert(vali);

             var Fn = { id: id, role_id: role, name: name, email: email, phone: phone, address: address, CNIC: CNIC, password: password, Active: Active, DOB: DOB, zones: vali, AssetTransfer_AddReviewer: AssetTransfer_AddReviewer, AssetTransfer_Approver: AssetTransfer_Approver, AssetTransfer_Receiver: AssetTransfer_Receiver };

             $.ajax({
                 contentType: 'application/json',
                 type: "POST",
                 url: "/Assets/usersave",
                 dataType: "json",
                 data: JSON.stringify({ 'item': Fn }),
                 async: false,
                 success: function (data) {
                     if (data.success) {
                         alert("User Add/Updated Successfully");
                         window.location.reload(true);
                     }
                     else {
                         alert("Error: " + data.message)
                     }
                 }

             });


         });
     });
</script>

<script>
    $(document).ready(function (e) {
        $(document).on("change", '#user_picture', function () {
            let reader = new FileReader();
            reader.onload = (e) => {
                $('#profile_picture').attr('src', e.target.result);
            }
            reader.readAsDataURL(this.files[0]);

            uploadFile();

        });
    });


    function uploadFile() {
        /*let formData = new FormData();
        let fileInput = $('#company_logo')[0].files[0];

        if (!fileInput) {
            alert("Please select a file first.");
            return;
        }

        formData.append('file', fileInput);
        alert(formData);*/

        let formData = new FormData($('#userForm')[0]);
        $.ajax({
            url: '/Assets/UploadUserDetails',  // Server-side endpoint
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function (response) {
                alert(response.message);
            },
            error: function () {
                alert("File upload failed.....");
            }
        });
    }
</script>
