@*@model SMAT_Inventory.Models.UserViewModel*@

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Change password : @GlobalVariables.AppUserName (@GlobalVariables.AppUserEmail)</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <form name="add-branch-form" action="" method="post" enctype="multipart/form-data">


                    <div class="col-md-3">
                        <div class="mb-3">
                            <label for="password-input" class="form-label">Current password</label>
                            <div class="input-group auth-pass-inputgroup">
                                <input type="password" class="form-control" name="currentPassword" id="currentPassword" value="" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label for="password-input" class="form-label">Enter New Password</label>
                            <div class="input-group auth-pass-inputgroup">
                                <input type="password" class="form-control" name="NewPassword" id="NewPassword" required>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="mb-3">
                            <label for="cpassword-input" class="form-label">Enter Confirm Password</label>
                            <input type="password" class="form-control" name="ConfirmPassword" id="ConfirmPassword" required>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary w-md" id="btnSave">Change Password</button>
                    </div>
                </form>

                <x-error-messages-section></x-error-messages-section>


            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
     $(document).ready(function () {

         $('#btnSave').on('click', function () {
             var currentPassword = $('#currentPassword').val();
             var NewPassword = $('#NewPassword').val();
             var ConfirmPassword = $('#ConfirmPassword').val();
             var id = @GlobalVariables.AppUserId;

             //alert(vali);
             if ('@GlobalVariables.AppUserPassword' != currentPassword) {
                 alert("Invalid Current Password");
                 return;
             }
             alert(currentPassword + '  -  ' + NewPassword)
             if (NewPassword != ConfirmPassword) {
                 alert("New password and Confirm Password are not Same");
                 return;
             }
             //var Fn = { id: id, NewPassword: NewPassword };
             alert(currentPassword + '  -  ' + NewPassword + '  -  ' + id)

             $.ajax({
                 contentType: 'application/json',
                 type: "POST",
                 url: "/Assets/usersavecchangepassword",
                 dataType: "json",
                 data: JSON.stringify({ id: id, NewPassword: NewPassword }),
                 async: false,
                 success: function (data) {
                     if (data.success) {
                         alert(data.message);
                         //window.location.href = '@Url.Action("Login", "Assets")';
                         window.location.reload(true);
                     }
                     else {
                         alert("Error: " + data.message)
                     }
                 }

             });


         });
     });
</script>